html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html{
	padding: 0;
	margin: 0;
}

*, *::before, *::after{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* FONTS */

@font-face{
	font-family: "Suisse Int'l";
	src: url(../fonts/fonnts.com-Suisse_Intl_Regular.ttf);
}

@font-face{
	font-family: "Sofia Pro";
	src: url("../fonts/Sofia Pro Regular Az.woff");
}

/* FONTS */


/* HEADER TOP TEXT START*/

.header_top_text{
	background: #F9F0E5;
	text-align: center;
	margin-bottom: 33px;
}

.header_top_text p{
	margin: 0;
	font-family: "Suisse Int'l";
	font-size: 11px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 0.08em;
	text-align: center;
	color: #494949FF
}

.header_top_text p span{
	margin-left: 12px;
	margin-right: 12px;
}

/* HEADER TOP TEXT END*/



								/* HEADER STYLES STARTS*/

.header__width{
	max-width: 1265px;
	margin-left: auto;
	margin-right: auto;
}

.logo{
	margin-bottom: 61px;
}

.header__content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: start;
	align-items: start;
	margin-left: 6px;
	margin: 0;
	padding: 0;
}

.header_content_title{
	font-family: "Sofia Pro";
	font-size: 38px;
	font-weight: 400;
	line-height: 45px;
	letter-spacing: 0.04em;
	text-align: left;
	color: #01005B;
	width: 592px;
	
	margin: 0 0 25px 0;
}

.header_content_paragraph{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 440px;
	-ms-align-items: center;
	align-items: center;

	margin-bottom: 17px;
}

.header_content_paragraph:last-of-type{
	margin-bottom: 31px;
	-ms-align-items: start;
	align-items: start;
}

.header_content_paragraph img{
	margin-right: 10px;
	height: 31px;
	width: 31px;
}

.header_content_paragraph p{
	font-family: Sofia Pro;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.03em;
	text-align: left;
	color: #676869;
	margin: 0;
}

.header_content_button{
	font-family: "Suisse Int'l";
	font-size: 18px;
	font-weight: 400;
	line-height: 23.35px;
	letter-spacing: 0.03em;
	text-align: center;
	color:white;

	background: #01005B;
	border-radius: 5px;
	border-style: none;

	padding: 19px ;
	width: 356px;

	cursor: pointer;

	margin-bottom: 46px;
}

.header_content_button::after{
	position: relative;
	content: url(../imgs/header_content_button_arrow.png);
	margin-left: 33px;
	top: 18px;
}

.header_content_desc{
	z-index: 2;
}

.header_content_comment{
	width: 416px;
	border-radius: 8px;
	border: 1px solid #EDEDED;
	box-shadow: 0px 3px 10px 0px #00000014;
	padding: 9px 20px;
	background-color: white;
	z-index: 5;
}

.header_content_comment img:first-of-type{
	width: 39px;
	height: 39px;
	margin-right: 14px;
}

.header_content_author{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.header_content_comment_name{
	font-family: 'Sofia Pro';
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.03em;
	text-align: left;
	color: #676869;
	margin-right: 23px;
}

.header_content_comment_review_text{
	font-family: "Suisse Int'l";
	font-size: 11px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #828282;

	margin-left: 7px;
}

.header_content_comment_text{
	font-family: "Suisse Int'l";
	font-size: 12px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.04em;
	text-align: left;
	color: #676869;

	margin: 0;
}

.header__pics{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 725px;
}

/*HEADER PICS*/
.header_pic_one{
	width: 231px;
	height: 325px;
	margin-right: 2.5px;
}.header_pic_second{
	width: 271px;
	height: 429px;
	margin-right: 2.5px;
	margin: 0 -40px 0 -60px;
	z-index: 3;
	box-shadow: 0px 3px 10px 1px #00000014;
	border: 2.5px solid #FFFFFF
}.header_pic_third{
	width: 231px;
	height: 339px;
}.header_content_side_img{
	width: 67px;
	background-color: black;
}
/*HEADER PICS*/

						/*HEADER STYLES END*/



						/* LOUNGOWEAR SECTION STYLES START*/
.loungewear_section{
	background: linear-gradient(180deg, #F9F0E5 0%, rgba(249, 240, 229, 0.18) 43.05%, rgba(249, 240, 229, 0) 100%);
	width: 100%;
	position: relative;
	top: -76px;

	margin-bottom: 90px;
}

.loungewear_width{
	position: relative;
	max-width: 1265px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: 76px;
}

/* ART BOARD STYLES START */
.art_board_title{
	font-family: Sofia Pro;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.03em;
	text-align: center;
	color: #868787;

	margin-top: 0;
}

.art_board_pics_container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	width: 1265px;
}

.art_board_pics_container img:nth-child(n+1){
	width: 172px;
	height: 22px;
}.art_board_pics_container img:nth-child(n+2){
	width: 111px;
	height: 52px;
}.art_board_pics_container img:nth-child(n+3){
	width: 271px;
	height: 53px;
}.art_board_pics_container img:nth-child(n+4){
	width: 194px;
	height: 37px;
}.art_board_pics_container img:nth-child(n+5){
	width: 192px;
	height: 58px;
}

.art_board{
	margin-bottom: 110px;
}
/* ART BOARD STYLES END */

.loungewear_content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;;
}

.loungewear_content_title{
	font-family: Sofia Pro;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.04em;
	text-align: left;
	color: #01005B;

	margin-bottom: 74px;
	margin-top: 0;
}

.loungewear_content_info_card_title{
	font-family: Sofia Pro;
	font-size: 22px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-align: left;
	color: #01005B;

	margin-top: 11px;
	margin-bottom: 14px;
}

.loungewear_content_info_card_text{
	font-family: Sofia Pro;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.03em;
	text-align: left;
	color: #6C6C6C;

	width: 497px;
}

.loungewear_content_info_card{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.loungewear_content_info_card img{
	background-color: #F9F0E5;
	border-radius: 50%;
	width: 42px;
	height: 42px;

	margin-right: 32px;
}


/* SLIDER START */
.slider {
  position: relative;
  width: 433px;
  height: 648px;
}

#main-image{
	width: 100%;
	height: 100%;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
}

.prev-btn {
  left: -55px;
  content: url(../imgs/slider/arrow_left.png);
}

.next-btn {
  right: -55px;
  content: url(../imgs/slider/arrow_right.png);
}

.slider-thumbnails {
	position: absolute;
	left: 73px;
	bottom: 10px;
  display: flex;
  justify-content: center;
}

.slider-thumbnails img {
  width: 31px;
  height: 32px;
  object-fit: cover;
  margin-right: 7px;
  cursor: pointer;
  filter: brightness(135%);
}

.slider-thumbnails .active {
  border: 2px solid #FFFFFF;
  filter: brightness(100%);
}

#image-caption {
  font-family: "Suisse Int'l";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #676869;

}
/* SLIDER END */

							/* LOUNGOWEAR SECTION STYLES END*/

							/* STORY SECTION START*/
.story_section{
	background: #F0EEEF;
	padding-top: 83px;
	padding-bottom: 56px;
}

.story_width{
	max-width: 1243px;
	margin-left: auto;
	margin-right: auto;
}

.story_pics{
	width: 524px;
	height: 664px;
	position: relative;
}

.story_first_pic{
	width: 165px;
	height: 175px;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}.story_first_second{
	width: 381.64px;
	height: 570px;
	position: absolute;
	top: 47px;
	left: 50px;
}.story_first_third{
	width: 129px;
	height: 175px;
	border-left: 4px solid #F0EEEF;
	position: absolute;
	object-fit: cover;
	bottom: 0;
	right: 0;

	box-shadow: 0px 3px 10px 1px #00000014;
}

.story_title{
	font-family: Sofia Pro;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.04em;
	text-align: left;
	color: #2A2996;

	margin: 26px 0 39px 0;
}

.story_text{
	font-family: Sofia Pro;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.03em;
	text-align: left;
	color: #6C6C6C;
}

.story_text:not(last-of-type){
	margin-top: 0;
	margin-bottom: 24px;
}

.story_button{
	width: 356px;
	height: 56px;
	border-radius: 5px;
	font-family: "Suisse Int'l";
	font-size: 18px;
	font-weight: 400;
	line-height: 23.35px;
	letter-spacing: 0.03em;
	text-align: center;
	color: white;
	background: #01005B;
	border-style: none;
}

.story_content{
	display: grid;
	grid-template-columns: auto auto;
	gap: 97px;
}
						/* STORY SECTION END*/
						/* COMFORT SECTION START*/
.comfort_width{
	max-width: 1120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 74px;
}

.comfort_title{
	font-family: Sofia Pro;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.04em;
	text-align: center;
	color: #01005B;

	margin-bottom: 46px;
}

.comfort_cards_container{
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 41px;

	margin-bottom: 56px;
}

.comfort_card1, .comfort_card2, .comfort_card3{
	background: #F0EEEF;
	border: 1px solid #EDEDED;
	width: 346px;
	height: 321px;
	border-radius: 8px;
	padding: 20px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
}

.comfort_card2{
	background: #F9F0E6;
}

.comfort_card_title{
	font-family: Sofia Pro;
	font-size: 22px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.04em;
	text-align: center;
	color: #01005B;

	margin: 16px 0 16px 0;
}

.comfort_card_text{
	font-family: Sofia Pro;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.03em;
	text-align: center;
	color: #676869;
	margin: 0;
}

.button_arrow{
	font-family: "Suisse Int'l";
	font-size: 18px;
	font-weight: 400;
	line-height: 23.35px;
	letter-spacing: 0.03em;
	text-align: center;
	color:white;

	background: #01005B;
	border-radius: 5px;
	border-style: none;

	padding: 19px ;
	width: 356px;

	cursor: pointer;

	margin-bottom: 11px;
	/*display: block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}

.button_arrow::after{
	position: relative;
	content: url(../imgs/header_content_button_arrow.png);
	margin-left: 33px;
}

.comfort_container{
	text-align: center;
}

.comfort_reviews_text{
	font-family: "Suisse Int'l";
	font-size: 11px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #828282;

	margin: 0;
	margin-left: 7px;
}

.reviews_container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

					/* COMFORT SECTION END*/
					/* FANS SECTION START*/

.fans_section{
}

.fans_title{
	font-family: Sofia Pro;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: 0.04em;
	text-align: center;
	color: #01005B;

	margin-bottom: 25px;
}

.fans_text{
	font-family: Sofia Pro;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.03em;
	text-align: center;
	color: #676869;

	margin-left: auto;
	margin-right: auto;
	max-width: 612px;

	margin-top: 0;
	margin-bottom: 55px;
}

.fans_pics{
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	gap: 5px;

	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;

	margin-bottom: 76px;
}

.fans_pics img{
	width: 128px;
	height: 128px;
}

/*@media (max-width: 1500px) {
  .fans_pics img:nth-child(n+21) {
    display: none;
  }

  .fans_pics{
  	grid-template-columns: repeat(10, 1fr);
  }
}*/


/* COMMENTS SLIDER START */
.comment_slider {
	margin-left: auto;
	margin-right: auto;
  position: relative;
  max-width: 1258px;

  margin-bottom: 63px;
}

.slider_wrapper {
  overflow: hidden; /* Приховує інші елементи, які виходять за межі */
}

.slider_container {
  display: flex;
  transition: transform 0.5s ease;
  gap: 45px;
  justify-content: center;
}

.slider_card {
  width: 338px;
  height: 194px;
  margin-bottom: 58px;
  border-radius: 8px;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 3px 10px 1px #00000014;

  padding: 29px 39px;
  transition: height 0.5s ease, margin .5s ease; /* Плавний ефект масштабування */

  overflow: hidden;
}

.slider_author_pic{
	width: 39px;
	height: 39px;
	margin-right: 14px;
}

.slider_authro_name{
	font-family: Sofia Pro;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.03em;
	text-align: left;
	margin: 0;
	color: #676869;
}

.slider_author_info{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.slider_card.active {
	height: 247px;
	margin-bottom: 0;
}

.slider_card.active .comment_text{
	-webkit-line-clamp: 6;
	word-break: break-word;
}

.comment_text{
	font-family: "Suisse Int'l";
	font-size: 12px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.04em;
	text-align: left;
	color: #676869;
	margin: 12px 0 0 0;
	overflow: hidden;

	display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.next_comment, .prev_comment {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
}

.prev_comment {
  left: -55px;
  top: 97.5px;
  content: url(../imgs/slider/arrow_left.png);
}

.next_comment {
  right: -55px;
  top: 97.5px;
  content: url(../imgs/slider/arrow_right.png);
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
}

.prev_comment:hover, .next_comment:hover {
  /*background-color: #ddd;*/
}

/* COMMENTS SLIDER END */

/* FAQ SECTION START */

.faq_section{
	text-align: center;
}

.faq_width{
	max-width: 1107px;
	margin-left: auto;
	margin-right: auto;
}

.faq_width .reviews_container{
	margin-bottom: 109px;
}